<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="navigation-menu">

      <div class="mobile-navigation-menu">
        <div class="header">
          <%#   if you click on the label that points to an input it's like clicking on the input %>
          <input type="checkbox" class="trigger" id="trigger">
          <label class="triggerLabel noSelect" for="trigger">
            <div class="hamburger"> 
              <span></span>
              <span></span>
              <span></span>
            </div>
          </label>
          <nav>
            <ul>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="desktop-navigation-menu">
        <div class="header">
          <nav>
            <ul>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <section class="section1">
      <div class="planeWaveContainer">
        <div id="planeWave"></div>
      </div>
      <div class="content">
        <div class="photo-container">
          <div class="photo-placeholder"></div>
        </div>
        <div class="description">
          <h1>Hello I'm Lucian</h1>
          <p>Full-stack web developer based in Italy</p>
        </div>
          <div class="contact-button-container">
            <button class="contact-button">
              Contact me
            </button>
        </div>
      </div>
    </section>
    <section class="section2">
      <h2>My Portfolio</h2>
      <p>This is a small gallery of projects I've chosen, but if you're curious you can find more on my <a href="#">Github</a>.</p>
      <div class="carousel-container">

      </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/88/three.min.js"></script>
    <script src="javascripts/main.js"></script>
  </body>
</html>
