<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="navigation-menu">

      <div class="mobile-navigation-menu">
        <div class="header">
          <%#   if you click on the label that points to an input it's like clicking on the input %>
          <input type="checkbox" class="trigger" id="trigger">
          <label class="triggerLabel" for="trigger">
            <div class="hamburger"> 
              <span></span>
              <span></span>
              <span></span>
            </div>
          </label>
          <nav>
            <ul>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="desktop-navigation-menu">

      </div>
    </div>

    <section>
      
    </section>
  </body>
</html>
