/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.noSelect:focus {
  outline: none !important; }

html, body {
  background-color: #1D1D1D;
  color: #fff;
  font-family: 'Inter', sans-serif; }

html, body {
  font-size: 1em; }

* {
  box-sizing: border-box; }

.navigation-menu .mobile-navigation-menu {
  position: relative; }
  .navigation-menu .mobile-navigation-menu .header #trigger {
    display: none; }
  .navigation-menu .mobile-navigation-menu .header .trigger:checked ~ .triggerLabel .hamburger span:first-child {
    transform: rotate(45deg);
    top: 8px; }
  .navigation-menu .mobile-navigation-menu .header .trigger:checked ~ .triggerLabel .hamburger span:last-child {
    transform: rotate(-45deg);
    top: -8px; }
  .navigation-menu .mobile-navigation-menu .header .trigger:checked ~ .triggerLabel .hamburger span:nth-child(2) {
    opacity: 0; }
  .navigation-menu .mobile-navigation-menu .header .trigger:checked ~ nav {
    top: 0;
    transition: top 0.3s ease-in-out; }
  .navigation-menu .mobile-navigation-menu .header .triggerLabel {
    display: block;
    position: relative;
    z-index: 1;
    cursor: pointer;
    height: 22px !important;
    width: 30px !important;
    box-sizing: border-box;
    margin: 20px;
    float: right; }
    .navigation-menu .mobile-navigation-menu .header .triggerLabel .hamburger span {
      display: block;
      height: 3px;
      width: 30px;
      background: #fff;
      margin-bottom: 5px;
      position: relative;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, opacity 0.3s ease-in-out; }
  .navigation-menu .mobile-navigation-menu .header nav {
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    top: -270px;
    transition: top 0.3s ease-in-out;
    position: absolute;
    background: linear-gradient(black, rgba(0, 0, 0, 0));
    padding: 40px; }
    .navigation-menu .mobile-navigation-menu .header nav ul li {
      list-style: none;
      font-size: 1.4em;
      padding: 20px 0;
      width: 50vw;
      text-align: center; }
      .navigation-menu .mobile-navigation-menu .header nav ul li:not(:last-child) {
        border-bottom: 1px solid #fff; }
      .navigation-menu .mobile-navigation-menu .header nav ul li a {
        color: white;
        text-decoration: none !important;
        text-align: center; }
